@import '_variables';

.app {
  width: 90vw;
  height: 90vh;
  margin: 2% auto;
  position: relative;
  display: flex;
  padding-right: 5%;
  justify-content: space-between;
  align-items: center;

  .logo__home {
    // border: 3px solid black;
    width: 55vw;
    height: auto;
    display: flex;
  }

  .logo__game {
    width: 20vw;
  }
}
