@import '_variables';
@import 'setLogo';


body {
  background-color: $yellow;
}

.board{
  width: 80vw;
  height: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}
.cards{
  width: 30%;
  border: 1px black solid;
  border-radius: 10px;

}

.modal-anim-enter {
    opacity: 0.00;
    transform: scale(0.7);
    transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);
}
.modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(0.7);
}
