@import '_variables';

.app {
  width: 90vw;
  height: 90vh;
  margin: 2% auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo__container {
    width: 55vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18%;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    transition: width 650ms, height 650ms, top 600ms;
  }

  .logo__container-game {
    width: 20vw;
    height: 12vw;
    top: 0;
  }

  .logo {
    position: relative;
    z-index: 1;
  }
}
