.gameView {
  display: flex;
  margin-left: 20vw;
  color: $purple;

  aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100%;
    background: $lightBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    padding: 2%;

    h1 {
      margin: 0;
    }
    .gameMenu__start {
      background: $purple;
      color: white;
      width: 85%;
      height: auto;
      padding: 3%;
      font-size: 1.5rem;
    }
    .players {
      height: 40%;
      .players_connected {

      }
      .players__list {
        display: flex;
        width: 85%;
        height: 50%;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;

        li {
          text-decoration: none;
          list-style: none;
        }
      }
    }

    .gameMenu__addCards {
      background: $red;
      color: white;
      width: 85%;
      height: auto;
      padding: 3%;
      font-size: 1.5rem;
    }
    .gameMenu__links {
      position: absolute;
      bottom: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 10%;
      a {
        text-decoration: none;
      }
    }
  } // aside

  .invite {
    width: 70vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .invite__modal {
      background: white;
      width: 70%;
      height: 70%;
      font-size: 4rem;
      text-align: center;
    }
  }
  .board {
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;

    .card {
      width: 23%;
      height: 25%;
      border: 1px black solid;
      border-radius: 10px;
      background: white;
      display: flex;
      justify-content: space-around;
      align-content: center;
      padding: 3%;
      transition: height .25 linear, width .25 linear;
    }//card12

    .card15 {
      height: 23%;
      width: 20%;
    }

    .shapes {
      width: 30%;
      height: 100%;
      //border: 3px solid black;
    }

    .red {
      fill: $red;
    }

    .green {
      fill: $green;
    }

    .purple {
      fill: $purple;
    }

    .clicked {
      border: 10px solid $purple;
    }
  }//board
} //gameview

 .block {
    height: 100px;
    width: 100px;
    float: left;
    background-color: steelblue;
    outline:1px solid #fff;
    color: #fff;
    cursor: pointer;
  }
  button {
    margin: 10px;
  }
