@import '_variables';

landingPage {
  display: flex;
  width: 100%;
  border: 1px solid green;

  landingInput {
    border: none;
    background: white;
    border-radius: 15px;
    height: 5vh;
    width: 60%;
    font-size: 24px;
    padding: 1%;
    margin: 5%;
  }
}




