@import '_variables';
.profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .profile__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50%;
    transition: all 1s;


    .profile__welcome {
      font-size: 5rem;
      color: white;
      margin: 0;
    }
    .profile__input-container {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .profile__input-label {
        font-size: 1.5rem;
        color: $purple;
      }
      .profile__input {
        border: none;
        width: 100%;
        font-size: 3rem;
        padding: 3%;
      }
    }
    button {
      background: $purple;
      color: white;
      font-size: 2rem;
      width: 100%;
      margin: 0;
      padding: 3%;
    }
  }
  a {
    margin-bottom: 5%;
  }
  .profile__nav {
    width: 15vw;
    height: 100%;
    margin: 0;
  }
}
